<div class="div-border">
    <label class="container">{{title}}<font color="red">*</font></label>
    <input id="{{name}}" type="file" accept="image/gif,image/jpeg,image/png" class="container">
    
</div>
