<div class="div-border">
    <label class="container">{{title}} <font color="red">*</font></label>
    <select class="container" id="{{name}}">
        {{#each datas}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>
