<!DOCTYPE html>

<html>

<head>
    <title>Student's problem form</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img id="output" width="200" />
        <form>

            {{>listinput q1}}

            {{>textinput q2}}

            {{>listinput q3}}

            {{>textinput q4}}

            {{>textinput q5}}

            {{>textinput q6}}

            {{>textinput q7}}

            {{>listinput q8}}
            
            {{>listinput q9}}

            {{>textinput q10}}

            {{>textinput q11}}

            {{>dateinput q12}}

            {{>fileinput q13}}

            {{>listinput q14}}

            {{>fileinput q15}}

            {{>listinput q16}}

            {{>textinput q17}}


            <button style="margin:20px;padding: 15px 32px;background-color: #008CBA;border-radius: 12px;">Submit</button>
            {{!-- <div>
                <input placeholder="Location">
                <button>Search</button>
            </div> --}}
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>


    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>

</html>